---
import "../../styles/blog.css";

import { getCollection } from "astro:content";
import MainLayout from "../../layouts/main.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<MainLayout
  title={post.data.title}
  description={post.data.description ?? "A blog post."}
  image={"https://toasted.is-a.dev/" + post.data.image}
>
  <h1 class="text-4xl font-bold">
    {post.data.title}
  </h1>
  <div class="p-0.5"></div>
  <time class="text-sm" datetime={post.data.createdAt.toLocaleDateString()}>
    {
      post.data.createdAt.toLocaleString(undefined, {
        month: "short",
        day: "numeric",
        year: "numeric",
      })
    }
  </time>
  <div class="p-1.5"></div>
  <article
    class="prose prose-black max-w-none prose-headings:mb-3 prose-headings:mt-6 prose-a:text-orange-600 prose-a:no-underline"
  >
    <Content />
  </article>
</MainLayout>
