/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-orange-950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-orange-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-500/75;
}

::selection {
  @apply bg-orange-500;
}

.prose > :first-child:is(p) {
  margin-top: 0.5em;
  margin-bottom: -0.4em;
}

.prose a:hover {
  @apply underline underline-offset-4;
}

.prose .anchor {
  @apply absolute no-underline opacity-0 transition-all hover:no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply opacity-100;
}

.prose .anchor:after {
  @apply text-orange-500;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose hr {
  @apply border border-orange-500 my-8 
}