@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
  --font-sans:
    Nunito Sans Variable, Nunito Sans, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-orange-950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-orange-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-500/75;
}

::selection {
  @apply bg-orange-500;
}

.prose > :first-child:is(p) {
  margin-top: 0.5em;
  margin-bottom: -0.4em;
}

.prose a:hover {
  @apply underline underline-offset-4;
}

.prose .anchor {
  @apply absolute no-underline opacity-0 transition-all hover:no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply opacity-100;
}

.prose .anchor:after {
  @apply text-orange-500;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose hr {
  @apply my-8 border border-orange-500;
}
