---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
  <section class="flex flex-col gap-4">
    <h1 class="text-5xl font-bold">Uh oh!</h1>
    <p>
      It seems you found yourself in a dead end. Don't worry, I'll help you out.
    </p>
    <div class="flex items-center gap-2">
      <a
        href="/"
        class="rounded-full bg-orange-800/50 px-4 py-1 text-lg font-bold transition-all hover:opacity-80"
      >
        Return home
      </a>
      <button
        onclick="history.back()"
        class="rounded-full bg-orange-800/50 px-4 py-1 text-lg font-bold transition-all hover:opacity-80"
      >
        Go back
      </button>
    </div>
  </section>
</MainLayout>
