---
import MainLayout from "../layouts/main.astro";
import { buttonVariants } from "@/components/ui/button";
---

<MainLayout>
  <section class="flex flex-col gap-4">
    <h1 class="text-5xl font-bold">Uh oh!</h1>
    <p>
      It seems you found yourself in a dead end. Don't worry, I'll help you out.
    </p>
    <div class="flex items-center gap-2">
      <a href="/" class={buttonVariants()}> Return home </a>
      <button
        onclick="history.back()"
        class={buttonVariants({
          className: "cursor-pointer",
        })}
      >
        Go back
      </button>
    </div>
  </section>
</MainLayout>
