---
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="API" description="The documentation for my API.">
  <h1 class="text-center text-4xl font-bold">API</h1>
  <p class="mt-2">
    Since I'm a developer, I also have an API. It's mostly used for like
    statistics stuff, because I'm also a statistics YouTuber, and I like looking
    at numbers go up.
  </p>
  <p class="mt-2">
    The base URL for these APIs is <code class="rounded-lg bg-orange-800/50 p-1"
      >https://api.toasted.dev</code
    >. You can use these APIs for free, but you are not alloweed to abuse it for
    inappropriate or illegal purposes.
  </p>
  <section class="mt-4 flex flex-col gap-2">
    <h1 class="border-b border-orange-700 pb-1 text-4xl font-bold">MrBeast</h1>
    <p>Just some APIs for getting MrBeast-related data.</p>
    <ul class="flex flex-col gap-4">
      <li>
        <h2 class="text-2xl font-semibold hover:underline">
          <a href="https://api.toasted.dev/mrbeast-views">
            <span class="pr-0.5 opacity-50">/</span> mrbeast-views
          </a>
        </h2>
        <p class="mt-2">
          Get MrBeast's total views, likes, and comments across his whole
          channel.
        </p>
      </li>
      <li>
        <h2 class="text-2xl font-semibold hover:underline">
          <a href="https://api.toasted.dev/mrbeast-latest">
            <span class="pr-0.5 opacity-50">/</span> mrbeast-latest
          </a>
        </h2>
        <p class="mt-2">
          Get MrBeast's latest posts on TikTok and Instagram (more coming soon).
        </p>
      </li>
    </ul>
  </section>
  <section class="mt-4 flex flex-col gap-2">
    <h1 class="border-b border-orange-700 pb-1 text-4xl font-bold">
      Worldometers
    </h1>
    <p>Get some data from Worldometers.</p>
    <ul class="flex flex-col gap-4">
      <li>
        <h2 class="text-2xl font-semibold hover:underline">
          <a href="https://api.toasted.dev/world-population">
            <span class="pr-0.5 opacity-50">/</span> world-population
          </a>
        </h2>
        <p class="mt-2">
          Get the total population of the world, along with the amount of
          births, deaths, and population growth today and the past year.
        </p>
      </li>
      <li>
        <h2 class="text-2xl font-semibold peer-hover:underline">
          <a href="https://api.toasted.dev/world-population/philippines">
            <span class="pr-0.5 opacity-50">/</span> world-population <span
              class="p-0.5 opacity-50">/</span
            > :country
          </a>
        </h2>
        <p class="mt-2">Get the total population of a specific country.</p>
      </li>
    </ul>
  </section>
</MainLayout>
