---
import MainLayout from "../layouts/main.astro";
import Discord from "../icons/discord.astro";
import Globe from "../icons/globe.astro";
import YouTube from "../icons/youtube.astro";
import X from "../icons/x.astro";
import GitHub from "../icons/github.astro";
import Twitch from "../icons/twitch.astro";

function getAge(birthDate: Date) {
  var today = new Date();
  var age = today.getFullYear() - birthDate.getFullYear();
  var m = today.getMonth() - birthDate.getMonth();
  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) age--;
  if (today.getDate() == birthDate.getDate()) age++;
  return age;
}
---

<MainLayout>
  <section class="flex flex-col gap-2">
    <h1 class="text-balance text-4xl font-extrabold">
      Hey there, I'm <span class="text-orange-500">ToastedToast</span>!
    </h1>
    <p>
      I'm a <b>{getAge(new Date("December 6, 2009"))} year old</b> self-taught developer
      who's passionate about tech and likes making things on the web and Discord
      on the side.
    </p>
  </section>
  <section class="pt-4">
    <h2 class="text-2xl font-bold">I'm everywhere, everything all at once</h2>
    <ul class="flex flex-col gap-2 pt-2">
      <li>
        <a
          href="https://youtube.com/@ToastedTheDev"
          target="_blank"
          class="group flex w-fit items-center gap-2"
        >
          <div
            class="flex items-center gap-1.5 rounded-full bg-red-600 px-2 py-0.5"
          >
            <YouTube /> YouTube
          </div>
          <p class="transition-colors group-hover:text-orange-500">
            @ToastedTheDev
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://x.com/@ToastedDev"
          target="_blank"
          class="group flex w-fit items-center gap-2"
        >
          <div
            class="flex items-center gap-1.5 rounded-full bg-white px-2 py-0.5 text-black"
          >
            <X /> X/Twitter
          </div>
          <p class="transition-colors group-hover:text-orange-500">
            @ToastedDev
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/ToastedDev"
          target="_blank"
          class="group flex w-fit items-center gap-2"
        >
          <div
            class="flex items-center gap-1.5 rounded-full bg-neutral-700 px-2 py-0.5"
          >
            <GitHub /> GitHub
          </div>
          <p class="transition-colors group-hover:text-orange-500">
            @ToastedDev
          </p>
        </a>
      </li>
      <li>
        <a
          href="https://twitch.tv/Toasted_Dev"
          target="_blank"
          class="group flex w-fit items-center gap-2"
        >
          <div
            class="flex items-center gap-1.5 rounded-full bg-purple-500 px-2 py-0.5"
          >
            <Twitch /> Twitch
          </div>
          <p class="transition-colors group-hover:text-orange-500">
            /Toasted_Dev
          </p>
        </a>
      </li>
      <li class="flex w-fit items-center gap-2">
        <div
          class="flex items-center gap-1.5 rounded-full bg-blue-600 px-2 py-0.5"
        >
          <Discord /> Discord
        </div>
        <p class="transition-colors">@nottca</p>
      </li>
    </ul>
  </section>
</MainLayout>
