---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
  <p>
    Hey there, my name is <span class="font-semibold text-orange-600"
      >ToastedToast</span
    >, but you can just call me <span class="font-semibold text-orange-600"
      >Toast</span
    >! I'm a 14 year old developer who likes to build things for the web and <a
      href="https://discord.com"
      class="transition-all hover:opacity-50">Discord</a
    >.
  </p>
</MainLayout>
