---
import MainLayout from "../layouts/main.astro";
import Discord from "../icons/discord.astro";
import Globe from "../icons/globe.astro";
import YouTube from "../icons/youtube.astro";
import X from "../icons/x.astro";
import GitHub from "../icons/github.astro";
import Twitch from "../icons/twitch.astro";

function getAge(birthDate: Date) {
  var today = new Date();
  var age = today.getFullYear() - birthDate.getFullYear();
  var m = today.getMonth() - birthDate.getMonth();
  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) age--;
  if (today.getDate() == birthDate.getDate()) age++;
  return age;
}
---

<MainLayout>
  <section class="flex flex-col gap-4">
    <p>
      Hey there, my name is <span class="font-semibold text-orange-500"
        >ToastedToast</span
      >, but you can just call me <span class="font-semibold text-orange-500"
        >Toast</span
      >! I'm a {getAge(new Date("December 6, 2009"))} year old developer who
      likes to build things for the <span>
        <Globe class="mb-0.5 inline" /> web</span
      > and <a
        href="https://discord.com"
        target="_blank"
        class="transition-all hover:opacity-75"
      >
        <Discord class="mb-0.5 inline" /> Discord</a
      >.
    </p>
    <ul class="flex flex-wrap gap-1">
      <li>
        <a
          href="https://youtube.com/@ToastedTheDev"
          target="_blank"
          class="flex w-fit items-center gap-1 rounded-full bg-red-600 px-2 py-1 text-white transition-all hover:opacity-75"
        >
          <YouTube class="h-5 w-5 text-xl" />
          <p class="text-sm">@ToastedTheDev</p>
        </a>
      </li>
      <li>
        <a
          href="https://x.com/@ToastedDev"
          target="_blank"
          class="flex w-fit items-center gap-1 rounded-full bg-white px-2 py-1 text-black transition-all hover:opacity-75"
        >
          <X class="h-5 w-5 text-xl" />
          <p class="text-sm">@ToastedDev</p>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/ToastedDev"
          target="_blank"
          class="flex w-fit items-center gap-1 rounded-full bg-neutral-700/90 px-2 py-1 text-white transition-all hover:opacity-75"
        >
          <GitHub class="h-5 w-5 text-xl" />
          <p class="text-sm">@ToastedDev</p>
        </a>
      </li>
      <li>
        <a
          href="https://twitch.com/Toasted_Dev"
          target="_blank"
          class="flex w-fit items-center gap-1 rounded-full bg-purple-600 px-2 py-1 text-white transition-all hover:opacity-75"
        >
          <Twitch class="h-5 w-5 text-xl" />
          <p class="text-sm">/Toasted_Dev</p>
        </a>
      </li>
      <li>
        <a
          href="https://discord.com/invite/HARDDqsEdQ"
          target="_blank"
          class="flex w-fit items-center gap-1 rounded-full bg-blue-600 px-2 py-1 transition-all hover:opacity-75"
        >
          <Discord class="h-5 w-5 text-xl" />
          <p class="text-sm">dsc.gg/statsassem</p>
        </a>
      </li>
    </ul>
  </section>
</MainLayout>
