---
import VideosList from "src/components/videos-list.astro";
import MainLayout from "../layouts/main.astro";

const links = ["All channels", "ToastedToast", "MinMax"];
---

<MainLayout title="Videos" description="Some cool stuff I've made on YouTube.">
  <h1 class="text-4xl font-bold text-orange-500">Videos</h1>
  <p class="mt-1">
    Some cool stuff I've made on YouTube. Inspired from <a
      href="https://aaronfrancis.com/#content"
      target="_blank"
      class="text-orange-500 hover:underline hover:underline-offset-4"
      >Aaron Francis</a
    >.
  </p>
  <VideosList server:defer>
    <p class="text-center" slot="fallback">Loading...</p>
  </VideosList>
</MainLayout>
