---
import VideosList from "src/components/videos-list.astro";
import MainLayout from "../layouts/main.astro";

const links = ["All channels", "ToastedToast", "MinMax"];
---

<MainLayout title="Videos" description="Some cool stuff I've made on YouTube.">
  <h1 class="text-4xl font-bold text-orange-500">Videos</h1>
  <p class="mt-1">
    Some cool stuff I've made on YouTube. Inspired from <a
      href="https://aaronfrancis.com/#content"
      target="_blank"
      class="text-orange-500 hover:underline hover:underline-offset-4"
      >Aaron Francis</a
    >.
  </p>
  <VideosList server:defer>
    <div class="mt-2 flex flex-col gap-3 md:flex-row" slot="fallback">
      <aside class="flex shrink-0 flex-col gap-1 md:w-48">
        {
          links.map((link) => (
            <a
              href={
                link.includes("All") ? "/videos" : `/videos?channel=${link}`
              }
              class:list={[
                "flex items-center gap-3 rounded-lg px-3 py-1.5 transition-all hover:bg-orange-900/50",
                (
                  link.includes("All")
                    ? Astro.url.searchParams.get("channel") === null
                    : Astro.url.searchParams.get("channel") === link
                )
                  ? "bg-orange-900"
                  : "",
              ]}
            >
              <p class="font-bold">{link}</p>
            </a>
          ))
        }
      </aside>
      <div class="flex flex-1 flex-grow flex-col gap-3">
        <p class="text-center">Loading...</p>
      </div>
    </div>
  </VideosList>
</MainLayout>
