---
import { links } from "src/lib/consts";
import { NavDropdown } from "./dropdown";
import Toast from "src/icons/toast.astro";

const { slug } = Astro.locals;
---

<header class="flex items-center justify-between pb-4">
  <nav
    class="text-3xl font-semibold text-orange-500 transition-all hover:opacity-75"
  >
    <a href="/" class="flex items-center gap-2">
      <Toast class="text-4xl" />
      <p>ToastedToast</p>
    </a>
  </nav>
  <ul class="hidden md:flex md:items-center md:gap-2">
    {
      links.map((link) => (
        <li
          class:list={[
            "font-semibold underline-offset-4 transition-all hover:opacity-75",
            (
              link.slug
                ? slug.startsWith(link.slug)
                : slug === link.href || slug === link.href + "/"
            )
              ? "text-orange-300 underline"
              : "text-orange-500 hover:underline",
          ]}
        >
          <a href={link.href}>{link.name} </a>
        </li>
      ))
    }
  </ul>

  <NavDropdown {slug} client:load />
</header>
