---
export const prerender = false;

const timeZone = "Asia/Manila";
const toastedTime = new Date()
  .toLocaleString("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
    hour: "numeric",
    minute: "numeric",
    second: "numeric",
    timeZone,
  })
  .split(" at ")
  .join(" ");
---

<div class="pt-1 text-lg">
  <p>
    My time: <time
      datetime={new Date().toLocaleString("en-US", { timeZone })}
      id="my-time">{toastedTime}</time
    >
  </p>
  <p>Your time: <time datetime="Loading..." id="your-time">Loading...</time></p>
  <p>Difference: <span id="difference">Loading...</span></p>
  <small class="text-xs text-neutral-300">
    *I live in the Philippines, which uses <a
      href="https://en.wikipedia.org/wiki/Philippine_Standard_Time"
      target="_blank"
      class="text-orange-500 hover:underline hover:underline-offset-4">UTC+8</a
    >
  </small>
</div>

<script>
  const timeZone = "Asia/Manila";
  const myTime = document.getElementById("my-time")!;
  const yourTime = document.getElementById("your-time")!;
  const difference = document.getElementById("difference")!;

  function updateTime() {
    const now = new Date();

    myTime.textContent = now
      .toLocaleString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric",
        timeZone,
      })

      .split(" at ")
      .join(" ");
    myTime.setAttribute("datetime", now.toLocaleString("en-US", { timeZone }));

    yourTime.textContent = new Date()
      .toLocaleString("en-US", {
        month: "long",
        day: "numeric",
        year: "numeric",
        hour: "numeric",
        minute: "numeric",
        second: "numeric",
      })
      .split(" at ")
      .join(" ");
    yourTime.setAttribute("datetime", new Date().toLocaleString("en-US"));

    const timeDifference = (-480 - now.getTimezoneOffset()) / 60;
    difference.textContent =
      timeDifference === 0
        ? "Exactly the same time"
        : `${Math.abs(timeDifference)} hours ${timeDifference < 0 ? "behind me" : "ahead of me"}`;
  }

  updateTime();
  setInterval(updateTime, 500);
</script>
